<html>
  <header>
    <title>engergame</title>
  </header>
  <body>
   <div>
      <h1>engergame</h1>
      <a href = 'http://127.0.0.1:8000/engergame/menu'>menu</a>
      <a href = 'http://127.0.0.1:8000/engergame/profile'>profile</a>
      <a href = 'http://127.0.0.1:8000/engergame/recruit'>recruit</a>
      <a href = 'http://127.0.0.1:8000/engergame/like'>like</a>
      <a href = 'http://127.0.0.1:8000/engergame/chat'>chat</a>
      <a href = 'http://127.0.0.1:8000/engergame/game'>game</a>
    </div>
  </body>
</html>
